<div class="row mt-5">
    <div class="col-md-8 offset-2 alert alert-success text-center">
        <h2> Your account was created successfully <span style="color:red">&hearts;</span></h2>
        <p>You can now log in to your account using your email and password.</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>
