.container2 {
    max-width: 400px;
    margin: 70px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

dt {
    font-weight: bold;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .btn-danger:hover {
        background-color: #c82333;
    }
